@{
    ViewData["Title"] = "Учет картриджей - Доступ запрещен";
}

<div class="text-center">
    <span class="text-white my-5">Доступ только для пользователей с уровнем доступа "Администратор".</span>
</div>
