@model CartAccServer.ViewModel.ErrorVm
@{
    ViewData["Title"] = "Администрирование - Отправка сообщения";
}

<div class="text-center">
    <span class="text-white my-5">Ошибка выполнения: @Model.ErrorMessage.</span>
</div>